.Button {
  border-radius: 7px;
  padding: 10px 15px;
  min-height: 30px;
  background-color: cornflowerblue;
  color: white;
  font-weight: 900;
  border: none;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
